{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="card mt-3 bg-lightblue">
            <div class="card-header">Connexion à l'espace membre</div>
            <div class="card-body">
                <form method="post" class="row">
                    <div class="col-12">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inputEmail">Votre adresse email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mt-2"
                               autocomplete="email" required autofocus>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="inputPassword">Votre mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control mt-2"
                               autocomplete="current-password"
                               required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-dark mt-2 bg-verylightblue" type="submit">
                            Se connecter
                        </button>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
