root {
    --darkblue: #292F40;
    --lightblue: #34394D;
    --verylightblue: #3b4358;
}

html {
    background-color: #292F40 !important;
}
body {
    background-color: #292F40 !important;
    color: white !important;
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

a.active {
    background-color: rgba(113, 127, 194, 0.66) !important;
    font-weight: 800;
}

::placeholder {
    color:lightgray !important;
}

.bg-darkblue {
    background-color: #292F40;
}
.bg-lightblue {
    background-color: #34394D;
}
.bg-verylightblue {
    background-color: #3b4358;
}

.text-lightgrey {
    color:lightgray;
}

.noborder {
    border: none !important;
}

.v-select {
    background-color: #3b4358 !important;
    color: white !important;
}
.v-select, .vs__selected {
    color: white !important;
}

.form-control {
    background-color: #3b4358 !important;
    border: none !important;
    color:white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;
}

.notification {
    font-size: 15px;
}

.toast-error {
    background-color: #da292e;
}
.toast-success {
    background-color: #2fb380;
}
.toast-info {
    background-color: #287bb5;
}
.toast-warning {
    background-color: #f4bd61;
}

.cursor-pointer {
    cursor: pointer;
}